html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overscroll-behavior-y: contain;
  overflow: hidden;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

img {
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

:root {
  --blue: #0043FF;
  --blue-400: #405CFF;
  --orange: #FF6B09;
}

#image1 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
  transition: all 800ms ease;
}

#image2 {
  display: block;
  position: absolute;
  opacity: 0;
  top: 50%;
  width: 100vw;
  height: 50%;
  object-fit: cover;
  z-index: 1;
  transition: all 800ms ease;
}

#image3 {
  display: block;
  position: absolute;
  opacity: 0;
  top: 66%;
  width: 100vw;
  height: 34%;
  object-fit: cover;
  z-index: 1;
  transition: all 800ms ease;
}

#circle {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 55%;
  left: 46.5%;
  /*background-color: var(--orange);*/
  border-radius: 50%;
  z-index: 10;
  transition: top 0.1s ease, left 0.1s ease;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    border-radius: 15px;
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.8);
  }
}

#circle.paused::before,
#circle.paused::after {
  animation-play-state: paused;
}

#circle2 {
  opacity: 0%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 27%;
  left: 46.5%;
  background-color: var(--orange);
  border-radius: 50%;
  z-index: 9;
  transition: all 1s ease;
}

#circle3 {
  opacity: 0%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 49.5%;
  left: 46.5%;
  background-color: var(--orange);
  border-radius: 50%;
  z-index: 9;
  transition: all 1s ease;
}

#add {
  position: absolute;
  width: 90vw;
  height: 40vh;
  transform: translate(-50%, -50%) scale(0);
  top: 77%;
  left: 50vw;
  background-color: rgb(64 92 255 / 40%);
  border-radius: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 4;
  transition: all 1s ease;
}

#remove {
  position: absolute;
  width: 90vw;
  height: 25%;
  transform: translate(-50%, -50%) scale(0);
  top: 18%;
  left: 50vw;
  background-color: rgb(236 102 25 / 40%);
  border-radius: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
  transition: all 1s ease;
}

.plus {
  width: 28px;
  height: 28px;
  background-color: rgb(64 92 255 / 40%);
  stroke: var(--blue);
  border-radius: 50%;
  border: dashed;
  border-color: var(--blue);
  border-width: 1px;

}

#content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding: 2vh 3vw;
  position: absolute;
  justify-content: space-between;
  z-index: 3;
  align-items: end;
  transition: all 1s ease;
}

#info {
  font-family: 'Geist Mono';
  color: white;
  font-size: 2vh;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-400);
  border-radius: 50%;
  width: 4vh;
  height: 4vh;
}

.all {
  font-family: "Host Grotesk";
  font-weight: 300;
  font-size: 1.5vh;
  color: var(--blue);
}

#content2 {
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 50%;
  padding: 2vh 3vw;
  justify-content: end;
  position: absolute;
  top: 50%;
  z-index: 3;
  align-items: end;
  transition: all 1s ease;
}

.filter {
  width: fit-content;
  padding: 1vw 1vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 0.5vw;
}

.tagcontainer {
  display: none;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.name {
  font-family: "Host Grotesk";
  font-weight: 300;
  font-size: 2vh;
  color: var(--blue);
}

.rect {
  width: 2vh;
  height: 2vh;
  background-color: var(--color);
}

#legends {
  position: absolute;
  width: 100vw;
  height: 110vh;
  background-color: var(--blue-400);
  display: none;
  flex-direction: column;
  gap: 1vh;
  padding: 2vh 12vw;
  z-index: 20;
}

#closecontainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#close {
  width: 32px;
  height: 32px
}

#Title {
  font-family: 'Host Grotesk';
  font-weight: 600;
  font-size: 4vh;
  color: white;
}

#salaires {
  display: none;
}

.containerlegend {
  flex-direction: column;
  background-color: white;
  padding: 1vh 1vh;
  border-radius: 8px;
}

.blueflex {
  font-family: 'Host Grotesk';
  font-weight: 600;
  color: white;
  font-size: 2.5vh;
  font-weight: 300;
  width: 100%;
  padding: 4px 10px;
  background-color: var(--blue-400);
  border-radius: 4px;
}

.flexbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.colorRec {
  width: 3vh;
  height: 3vh;
  background-color: var(--colorRec);
}

.text {
  font-family: "Host Grotesk";
  font-weight: 300;
  font-size: 2vh;
  color: black;
}

.source {
  font-family: 'Geist Mono';
  font-size: 1.5vh;
  font-weight: 400;
  color: var(--blue);
}


/*----------------Environnement-------------------*/
#env{
  display: flex;
  gap: 3vh;
  padding-bottom: 2vh;
}

.text-env{
  font-family: "Host Grotesk";
  font-weight: 300;
  font-size: 2.5vh;
  color: black;
}

.recwidth {
  width: 4vh;
  height: 4vh;
}

#img-inondation{
  background-color: #F3F5FF;
  border: solid;
  border-color: var(--blue);
}

#img-zh{
  background-image: url("img/dot-grid.png");
  background-size:contain;
  border: solid;
  border-color: var(--blue);
}

#img-fleuve{
  width: 4vh;
  height: 4vh
}

